{% extends "base.html" %}

{% block content %}
    <article>
        <h1>About</h1>
        <p>buddEE is a virtual exercise tracker where you can create your very own pet. By doing outdoor activities - it doesn't have to be rigorous exercise - you can grow closer to your beloved buddEE.</p>
        <p>Artist credits:</p>
        <ul>
            <li><a href="https://www.flaticon.com/free-icons/pets" title="Pet icons">Pet icons created by Freepik - Flaticon</a></li>
            <li><a href="https://www.flaticon.com/free-icons/sports" title="Sport icons">Sport icons created by Freepik - Flaticon</a></li>
            <li><a href="https://undraw.co/illustrations" title="Illustrations">Illustrations created by unDraw</a></li>
            <li><a href="https://www.vecteezy.com/vector-art/91563-hand-drawn-fat-cat-vectors" title="Cat illustrations">Cat Vectors by Vecteezy</a></li>
            <li><a href="https://www.vecteezy.com/vector-art/134164-border-collie-2-vector" title="Dog illustrations">Dog Vectors by Vecteezy</a></li>
            <li><a href="https://www.vecteezy.com/vector-art/124108-budgie-cute-vector" title="Budgie illustrations">Budgie Vectors by Vecteezy</a></li>
            <li><a href="https://www.vecteezy.com/vector-art/202723-hand-drawn-sea-turtles-vector" title="Turtle illustrations">Turtle Vectors by Vecteezy</a></li>
            <li><a href="https://www.vecteezy.com/vector-art/2041005-set-of-white-rabbits" title="Bunny illustrations">Bunny Vectors by Vecteezy</a></li>
            <li><a href="https://www.freepik.com/premium-vector/cute-frogs-hand-drawn-vector-seamless-pattern-colored-cartoon-ornament-with-animals-funny-design-print-fabric-textile-background-wallpaper-wrapping-card-decoration_20443577.htm?query=cartoon%20frog" title="Frog illustrations">Frog Vectors created by Freepik</a></li>
        </ul>
    </article>

    <aside>
        <img src="/static/images/about_page.png" width="100%">
    </aside>

{% endblock %}